<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info ml-2">All</button>
    <li>
      <button class="btn btn-outline-info ml-2">Selected</button>
    </li>
    <li>
      <button class="btn btn-outline-info ml-2">Available</button>
    </li>
  </ul>
</nav>

<div class="container" *ngIf="products">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Selected</th>
      <th>Available</th>
    </tr>
    <tr *ngFor="let product of products$ | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.selected}}</td>
      <td>{{product.available}}</td>
    </tr>
  </table>
</div>